<?php

declare(strict_types=1);

namespace Request;

use {request_namespace};
use Helper\AdapterFactory;
use Helper\ResponseReader;
use PHPUnit\Framework\TestCase;

class {test_class} extends TestCase
{
    public function testRequest()
    {
        $adapter = AdapterFactory::create();

        $request = new {request_class}();

        $response = $adapter->request($request);

        $this->assertInstanceOf($request->getResponseClass(), $response, ResponseReader::getMessage($response));
    }
}
